@theme inline {
  --font-primary: var(--font-sf-pro);
  --font-secondary: var(--font-roboto);

  --font-roboto: var(--font-roboto);
  --font-inter: var(--font-inter);
  --font-sf-pro: var(--font-sf-pro);

  --font-helvetins: var(--font-helvetins);
  --font-svn-gilroy: var(--font-svn-gilroy);
  --font-kenyan-coffee: var(--font-kenyan-coffee);
}
